<!-- <app-box></app-box>
<app-box (xyz)="showAlert($event)"size=200px></app-box> -->

<!--
    1.Data Direction
     -Input - parent to child
     -output -child to parent
     -Any to Any

    2.-Input -used to define custom input
      -output-used to define custom event 
-->

<!--
    structural Directives
     -ngFor
     -ngIf
-->

<!-- for routing routerOutlet is used -->

<nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

    <!-- <a href="/login" appPreventDefault>Login Reloadable</a> -->
</nav>

<router-outlet></router-outlet>
